/* tool variables */
.CodeSnippetHolder.salad {
  --font-family: Lucida;

  /* code snippet tool borders */
  /* by color */
  --code-snippet-tool--border-color: lime;

  /* code snippet tool borders */
  --code-snippet-tool--border-radius: 0;
  --code-snippet-tool--border-width: 0.8px;
  --code-snippet-tool--border-style: solid;


  /* theme variables */
  /* code snippet theme sizes variables */
  --code-snippet--line-height: 1.5rem;
  --code-snippet--font-size: 0.875rem;
  --code-snippet--padding-top: 2.0rem;
  --code-snippet--padding-bottom: 2.0rem;
  --code-snippet--padding-left: 0.4rem;
  --code-snippet--padding-right: 1.4rem;


  /* code snippet theme Colors variables */
  --code-snippet--text-color: darkgreen;
  --code-snippet--background-color: #fff;


  /* column theme sizes variables */
  --column-numbers--width: 3.3rem;
  --column-numbers--padding-right: 0.8rem;
  
  /* column theme Colors variables */
  --column-numbers--text-color: lime;
  --column-numbers--background-color: #efe;
}
